chat_message_joke_gen_openai.json
{"id":"1d3d4110-8458-4df8-b3ba-4a8f6d4032b1","meta":{"instanceId":"","actionId":""},"nodes":[{"id":"1","parameters":{},"name":"Chat Message Trigger","type":"n8n-nodes-base.chatTrigger","typeVersion":1,"position":[200,200]},{"id":"2","parameters":{"engine":"text-davinci-002","max_tokens":100,"prompt":"Give me a funny joke","temperature":0.7,"top_p":1},"name":"OpenAI","type":"n8n-nodes-base.openai","typeVersion":1,"position":[400,200]},{"id":"3","parameters":{"chatId":"={{$node[\"Chat Message Trigger\"].json[\"message\"]}}","messageText":"={{$node[\"OpenAI\"].json[\"choices\"][0][\"text\"]}}"},"name":"Send Joke","type":"n8n-nodes-base.chatSend","typeVersion":1,"position":[600,200]}],"connections":{"Chat Message Trigger":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Send Joke","type":"main","index":0}]]}}}