workflows/softwash-lead-qualifier.json
{
  "name": "Softwash Lead Qualifier",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "receive"
      },
      "name": "Twilio Trigger",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "return [\n  { json: { text: \"Please provide your name, phone number, and address so we can better assist you.\" } }\n];"
      },
      "name": "Ask Details",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "from": "+YOUR_TWILIO_NUMBER",
        "to": "+MY_NUMBER",
        "message": "New softwash lead:\nName: {{ $json.name }}\nPhone: {{ $json.phone }}\nAddress: {{ $json.address }}\nMessage: {{ $json.body }}"
      },
      "name": "Notify Owner",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Twilio Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio Trigger": {
      "main": [
        [
          {
            "node": "Ask Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask Details": {
      "main": [
        [
          {
            "node": "Notify Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false
}
